[color]
    ui = auto
    status = always
[include]
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore
    editor = nvim
[pull]
    rebase = true
[alias]
    co = checkout
    s = status --short --branch
    st = stash
    b = branch -a
    cm = commit -v
    cma = commit -a -v
    d = diff -C --stat -p
    dc = diff --cached
    br = branch
    s = status --short --branch
    rv = remote --verbose
    l = log --graph --date=short --decorate=short --pretty=format:'%C(red)%h　%C(reset)-%C(yellow)%d %Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll = log --graph --all --abbrev-commit --date=relative --pretty=format:'%C(red)%h　%C(reset)-%C(yellow)%d %Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    o = open
    om = open origin main
    od = open origin develop
[push]
    default = current
[credential]
    helper = store
[user]
    name = dais0n
    email = t.omura8383@gmail.com
[diff "sopsdiffer"]
    textconv = sops -d
[url "git@github.com:"]
	insteadOf = https://github.com/
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/.git-templates/git-secrets
